@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,500;0,600;0,700;1,300;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

:root {
  /* --color-100: black;
  --color-200: var(--color-200);;
  --color-300: #acacac;
  --color-400: #efefef;
  --color-500: white;
  --primary: var(--primary);;
  --secondary: #e24a2b; */
  --color-100: #caf0f8;
  --color-200: #90e0ef;
  --color-300: #023e8a;
  --color-400: #023e8a;
  --color-500: #03045e;
  --primary: #03045e;
  --secondary: #023e8a;
}

* {
  font-weight: 300;
}

.primary {
  color: var(--primary);
}

body {
  background: var(--color-100);
  margin: 0;
  font-family: "Roboto Mono";
  color: var(--color-500);
}

.light-and-small {
  font-weight: 100;
  font-size: 0.8rem;
}

header {
  color: var(--primary);
  padding: 0.3rem 4rem;
  font-size: 1rem;
  margin-bottom: 3rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link {
  text-decoration: none;
}

header h1 {
  font-weight: 100;
  color: var(--primary);
  text-decoration: none;
}

.sound-select-container {
  display: flex;
  flex-direction: column;
  color:  var(--color-500);
  align-items: center;
  font-size: 12px;
  gap: 10px;
  padding-top: 10px;
}
select {
  padding: 8px;
  border: none;
  background-color: var(--color-400);
  font-size: 12px;
}

.play-button {
  padding: 0;
  padding-bottom: 3px;
  margin-left: 10px;
  background-color: var(--color-300);
  width: 30px; 
  height: 30px; 
  border-radius: 50%; 
  background-color:var(--color-300); 
  font-size: 16px;
}

.input-form {
  margin-right: 4rem;
  padding: 2rem;
  background: var(--color-200);
}

input {
  padding: 8px;
  border: none;
}

.greggs-logo {
  height: 16px;
  margin-left: 10px;
  margin-bottom: 4px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding-left: 40px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}



.container.sound-choice {
  border-radius: 24px;
  justify-content: flex-end;
  width: 150px;
  padding: 10px 15px;
  margin: 0;
  background-color: var(--color-200);
}
.sound-choice .checkmark {
  left: 15px;
  bottom: 10px;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  bottom: 3px;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: grey;
  border-radius: 25px;
  border: 1px solid darkgrey;
}

/* On mouse-over, add a grey background color */
.container:hover input~.checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked~.checkmark {
  background-color: var(--color-100);
  border-radius: 20px;
  border: 1px solid var(--color-100);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked~.checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 8px;
  top: 4px;
  width: 6px;
  height: 11px;
  border: solid var(--primary);;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

button {
  border: none;
  padding: 8px 20px;
  margin: 5px;
  background-color: var(--color-400);
  color: var(--color-100)
}

.delete-button {
  padding: 0 5px;
  border: none;
  background-color: transparent;
  color: var(--secondary);

  border-radius: 20px;
}

.wheel-container {
  position: relative;
  height: 445px;
}

.spin-button {
  position: absolute;
  top: 43%;
  left: 37.7%;
  z-index: 99;
  border-radius: 50%;
  background-color: transparent;
  color: var(--primary);;
  font-size: 24px;
}

.border {
  border: 2px solid salmon;
}

.winner-popup {
  padding: 10px 15px;
  background-color:  var(--color-500);
  color: var(--color-100);
}

.winner-popup-inner-content {
  background-color:  var(--color-500);
  border: none;
  margin: 0 auto;
  padding-bottom: 25px;
  width: 400px;
}
.popup-close-button {
  padding: 2px;
  margin: 0;
  font-size: 1.5rem;
  line-height: 0.5rem;
  background-color: transparent;
}

.winner-popup-inner-content h1 {
  margin-top: -5px;
  padding-bottom: 10px;
}

.confetti {
  position: fixed;
  top: 40%;
  left: 50%;
}

table thead {
  background: var(--color-200);;
}

td {
  border-bottom: 1px solid var(--color-200);;
  padding: 5px;
  text-align: center;
}

.first-td {
  text-align: left;
  width: 100px;
}

.last-td {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  align-items: center;
}

.edit-button {
  padding: 5px;
  font-size: 12px;
}

dialog::backdrop {
  background-color: #00000071;
}

.inner-dialog {
  padding: 20px;
}
.points-editor-close {
  position: absolute;
  right: 0;
  top: 0;
}
.edit-points-form {
  display: flex;
  gap: 20px;
  margin: 20px;

  .form-item {
    display: flex;
    flex-direction: column;
  }

  input {
    border: 1px dotted var(--color-100);
    width: 50px;
    margin-top: 5px;
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.listWinner {
  font-size: 12px;
}