@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,500;0,600;0,700;1,300;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

:root {
  --dark-grey: #464646;
  --medium-grey: #acacac;
  --light-grey: #efefef;
  --green: chartreuse;
  --red: #e24a2b;
}

* {
  font-weight: 300;
}

.green {
  color: var(--green);
}

body {
  background: #000;
  margin: 0;
  font-family: "Roboto Mono";
  color: white;
}

.light-and-small {
  font-weight: 100;
  font-size: 0.8rem;
}

header {
  color: var(--green);
  padding: 0.3rem 4rem;
  font-size: 1rem;
  margin-bottom: 3rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link {
  text-decoration: none;
}

header h1 {
  font-weight: 100;
  color: var(--green);
  text-decoration: none;
}

.sound-select-container {
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
  font-size: 12px;
  gap: 10px;
  padding-top: 10px;
}
select {
  padding: 8px;
  border: none;
  background-color: var(--light-grey);
  font-size: 12px;
}

.play-button {
  padding: 0;
  padding-bottom: 3px;
  margin-left: 10px;
  background-color: var(--medium-grey);
  width: 30px; 
  height: 30px; 
  border-radius: 50%; 
  background-color:var(--medium-grey); 
  font-size: 16px;
}

.input-form {
  margin-right: 4rem;
  padding: 2rem;
  background: var(--dark-grey);
}

input {
  padding: 8px;
  border: none;
}

.greggs-logo {
  height: 16px;
  margin-left: 10px;
  margin-bottom: 4px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding-left: 40px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}



.container.sound-choice {
  border-radius: 24px;
  justify-content: flex-end;
  width: 150px;
  padding: 10px 15px;
  margin: 0;
  background-color: var(--dark-grey);
}
.sound-choice .checkmark {
  left: 15px;
  bottom: 10px;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  bottom: 3px;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: grey;
  border-radius: 25px;
  border: 1px solid darkgrey;
}

/* On mouse-over, add a grey background color */
.container:hover input~.checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked~.checkmark {
  background-color: black;
  border-radius: 20px;
  border: 1px solid black;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked~.checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 8px;
  top: 4px;
  width: 6px;
  height: 11px;
  border: solid chartreuse;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

button {
  border: none;
  padding: 8px 20px;
  margin: 5px;
}

.delete-button {
  padding: 0 5px;
  border: none;
  background-color: transparent;
  color: #e24a2b;

  border-radius: 20px;
}

.wheel-container {
  position: relative;
  height: 445px;
}

.spin-button {
  position: absolute;
  top: 43%;
  left: 37.7%;
  z-index: 99;
  border-radius: 50%;
  background-color: transparent;
  color: chartreuse;
  font-size: 24px;
}

.border {
  border: 2px solid salmon;
}

.winner-popup {
  padding: 10px 15px;
  background-color: white;
  color: black;
}

.winner-popup-inner-content {
  background-color: white;
  border: none;
  margin: 0 auto;
  padding-bottom: 25px;
  width: 400px;
}
.popup-close-button {
  padding: 2px;
  margin: 0;
  font-size: 1.5rem;
  line-height: 0.5rem;
  background-color: transparent;
}

.winner-popup-inner-content h1 {
  margin-top: -5px;
  padding-bottom: 10px;
}

.confetti {
  position: fixed;
  top: 40%;
  left: 50%;
}

table thead {
  background: #464646;
}

td {
  border-bottom: 1px solid #464646;
  padding: 5px;
  text-align: center;
}

.first-td {
  text-align: left;
  width: 100px;
}

.last-td {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  align-items: center;
}

.edit-button {
  padding: 5px;
  font-size: 12px;
}

dialog::backdrop {
  background-color: #00000071;
}

.inner-dialog {
  padding: 20px;
}
.points-editor-close {
  position: absolute;
  right: 0;
  top: 0;
}
.edit-points-form {
  display: flex;
  gap: 20px;
  margin: 20px;

  .form-item {
    display: flex;
    flex-direction: column;
  }

  input {
    border: 1px dotted black;
    width: 50px;
    margin-top: 5px;
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.listWinner {
  font-size: 12px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.preferences-wrap{
    background-color: #595757;
    .preferences-pane{
        .preferenceInput{
            &__select{
                margin-left:1em;
            }
        }

    }
}